doctype 5
html
  head
    title Test
    :stylus
      .test
        width 50px
        height 50px
        background #DDD
        position fixed
        text-align center
        line-height 50px

      #target
        width 200px
        height 200px
        background #AAA
        position absolute
        top 200px
        left 400px
        line-height 200px
        text-align center

  body
    #target target
    #top.test top
    #left.test left
    #bottom.test bottom
    #right.test right

    script(src="../build/build.js")
    script
      var position = require('position');

      var testTop = document.getElementById('top');
      var testLeft = document.getElementById('left');
      var testBottom = document.getElementById('bottom');
      var testRight = document.getElementById('right');
      var target = document.getElementById('target');

      position(testTop).to(target).top(10).center();
      position(testLeft).to(target).left(10).center();
      position(testRight).to(target).right(10).center();
      position(testBottom).to(target).bottom(10).center();
